accelerate
cmudict
cn2an
# faster-whisper==0.10.1
g2p_en
GPUtil
gradio>=4.32
kiwisolver>=1.4.7
fonttools>=4.60.0
contourpy>=1.2.0
cycler>=0.12.1
onnxruntime
jieba
loguru
nltk<=3.8.1
num2words
numpy<2
onnxruntime-directml; sys_platform == 'win32'
onnxruntime-gpu; sys_platform != 'darwin'
# protobuf==4.25
psutil
# punctuators
# pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
# tensorboard==2.14.0
torch<2.4
torchaudio<2.4
transformers
