accelerate
cmudict
cn2an
g2p_en
gradio>=4.32
jieba
loguru
kiwisolver>=1.4.7
fonttools>=4.60.0
contourpy>=1.2.0
cycler>=0.12.1
onnxruntime
nltk<=3.8.1
num2words
numpy<2
onnxruntime-gpu
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
torch
torchaudio
torchvision
transformers
