accelerate
cmudict
cn2an
faster-whisper
g2p_en
GPUtil
gradio>=4.32,<5
gradio-client==1.3.0
jieba
loguru
nltk<=3.8.1
num2words
kiwisolver>=1.4.7
fonttools>=4.60.0
contourpy>=1.2.0
cycler>=0.12.1
onnxruntime
numpy<2
onnxruntime-directml; sys_platform == 'win32'
# onnxruntime-gpu; sys_platform != 'darwin'  <-- コメントアウト
protobuf==4.25
psutil
punctuators
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
tensorboard==2.14.0
# torch<2.4       <-- コメントアウト
# torchaudio<2.4  <-- コメントアウト
transformers
scikit-learn>=1.4.2
